.main-layout{
  // see https://codepen.io/enxaneta/full/adLPwv
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  .navbar {

  }

  .content {

  }

  .footer {

  }
}
